@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Lobster");
// colors
$dark: #222;
$primary: #87ceff;

$bg: #fff;
// text colors
$text-primary: #666;
// page values
$widthOfContent: 65%;


// normals
* {
    box-sizing: border-box;

    padding: 0;
    margin: 0;

    font-family: "open sans";
}

html, body, #__next {
    width: 100%;
    height: 100%;

}

p {
    color: $text-primary;
    font-size: 14px;
    line-height: 16px;
}