.ContactForm {
    height: 100%;
    display: flex;
    flex-direction: column;

    input, textarea {
        background-color: darken($bg, 5%);
    }

    textarea {
        border: 0;
        width: 100%;
        resize: vertical;

        &::placeholder {
            padding: .5rem;
        }

        
    }

    .textarea {
        min-height: 25%;
        height: max-content;
    }

    input[type=button] {
        background-color: $dark;
        color: #fff;

        width: 30% !important;
    }
    
    .formGroup {
        margin-bottom: 1rem;
    }
}